---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ name }}</h1>

<time datetime="{{ lastUpdated | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

<div style="margin:15px 0px" >
{{ shortDescription }}
</div>

<h2 id="parameter">Parameters</h2>
{%- for param in parameters -%}
<div style="margin: 10px 0px" >
  <div>{{ param.name }} -> {{ param.datatype }}</div> 
  <div>{{ param.definition }} </div>
</div>
{%- endfor %}

<h2>Returns</h2>
<div> Type: {{ returnType }} </div>
<div> {{ returnDescription }} </div>

<h2>Details</h2>
{{ content | safe }}


<h2>Examples</h2>
{%- for example in examples -%}
<div>{{ example.description }}</div> 
<code>{{ example.code }} </code>
{%- endfor %}

{%- if related.length > 0 %}
  <h2>Related</h2>
  <ul>
    {%- for rel in related -%}
      {%- for post in collections.all -%}
        {% if rel == post.data.name | lower %}
              <li> <a href="{{ post.url | url }}">{{ rel }}</a></li>
        {% endif %}
      {%- endfor %}
    {%- endfor %}
  </ul>
{% endif %}


{# {%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %} #}
